body{
    margin:0;
    padding:0;
    font-family: serif;
    overflow-x:hidden;
}
.container{
    height: 100vh;
   
}
.name{
    font-size: 20px;
    font-weight: bold;
}
nav{
    background:rgb(21, 21, 66);
    width: 100%;
    display:flex;
    justify-content: space-between;   
    position:sticky;
    top:0%;
}
ul{
    display:flex;
    list-style: none;

}
ul li{
    padding:10px;
}
ul li a{
    text-decoration: none;
    color:white;
    text-transform:uppercase;
}
ul li a:hover{
    color:red;
}
img{
    width:100%;
}
/* .chanry{
    clip-path: circle(30% at 50% 42%);
    margin-top:10px;
} */
.image_text{
    background:rgba(0,0,0,0.1);
    padding:20%;
}